@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap");

:root {
    font-family: "Inter", Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #f2f2f2;

    --color-black: #000;
    --color-blue: #007bff;
    --color-white: #fff;
    --color-yellow: #ffc107;
    --color-red: #dc3545;
    --border: 4px solid var(--color-black);
    --shadow: 8px 8px 0px var(--color-black);
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.intro {
    /* background-color: yellow;*/
}

.projects {
    /* background-color: green; */
}

h1 {
    font-size: 2rem;
    line-height: 1.25;
}
