name: Deploy

on:
  push:
    branches:
      - master
    paths:
      - "src/**"
      - "public/**"
      - "package.json"
      - "vite.config.ts"
  
  workflow_dispatch:
    
permissions:
  contents: read
  pages: write
  id-token: write
  
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with: 
          bun-version: 1.3.3
      - run: bun install
      - run: bun run build
      - uses: actions/upload-pages-artifact@v4
        with:
          path: dist/
  
  deploy:
    needs: build
    
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4 
      